<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gelismiskomutlarunite5">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GelismisKomutlarUnite5"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Uyg1Activity" android:label="@string/uyg1_isim"></activity>
        <activity android:name=".Uyg2Activity" android:label="@string/uyg2_isim"></activity>
        <activity android:name=".Uyg3Activity" android:label="@string/uyg3_isim"></activity>
        <activity android:name=".Uyg4Activity" android:label="@string/uyg4_isim"></activity>
        <activity android:name=".Uyg5Activity" android:label="@string/uyg5_isim"></activity>
        <activity android:name=".Uyg6Activity" android:label="@string/uyg6_isim"></activity>
        <activity android:name=".Uyg7Activity" android:label="@string/uyg7_isim"></activity>
        <activity android:name=".Uyg8Activity" android:label="@string/uyg8_isim"></activity>
        <activity android:name=".Uyg9Activity" android:label="@string/uyg9_isim"></activity>
        <activity android:name=".Uyg10Activity" android:label="@string/uyg10_isim"></activity>
        <activity android:name=".Uyg11Activity" android:label="@string/uyg11_isim"></activity>
        <activity android:name=".Uyg12Activity" android:label="@string/uyg12_isim"></activity>
        <activity android:name=".Uyg13Activity" android:label="@string/uyg13_isim"></activity>
        <activity android:name=".SS_165_Activitiy" android:label="@string/ss_165"></activity>
        <activity android:name=".SS_168_Activity" android:label="@string/ss_168"></activity>
        <activity android:name=".SS_173_Activity" android:label="@string/ss_173"></activity>
        <activity android:name=".SS_188_Activity" android:label="Sıra Sizde Sayfa 188"></activity>
        <activity android:name=".SS_206_Activity" android:label="Sıra Sizde Sayfa 206"></activity>
        <activity android:name=".SS_214_Activity" android:label="Sıra Sizde Sayfa 214"></activity>
    </application>

</manifest>